$blue: #24657c;
@keyframes select {
  from {
    height: 0;
  }
  to {
    height: 150px;
  }
}
.card {
  font-size: 30px;
  margin: 20px 0;
  .card-since,
  .card-language {
    display: inline-block;
    width: 50%;
    .card-since-wrap,
    .card-language-wrap {
      display: flex;
      align-items: center;
      height: 70px;
      .icon-down,
      .icon-up {
        width: 30px;
        height: 20px;
        font-size: 24px;
        padding: 10px 10px;
      }
    }
    .select-item {
      position: absolute;
      width: 50%;
      max-height: 144px;
      overflow: scroll;
      text-align: center;
      color: $blue;
      background-color: rgba(190, 190, 190, 0.7);
      animation: select 0.3s;
      .select-text {
        height: 50px;
        line-height: 50px;
      }
    }
  }
  .card-warp {
    display: flex;
    justify-content: space-between;
    margin: 20px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #e0e0e0;
    background: rgba(10, 10, 0, 0.3);
    .card-content {
      position: relative;
      padding: 5px 10px;
      height: 180px;
      width: 100%;
      &-name {
        line-height: 50px;
        font-size: 30px;
      }
      &-descript {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-camp: 3;
        overflow: hidden;
      }
      &-feature {
        display: flex;
        position: absolute;
        bottom: 0px;
        .card-content-author {
        }
      }
    }
    .card-star {
      padding: 5px 0px;
      flex: 0 0 100px;
    }
  }
}
