$blue: #24657c;
@keyframes select {
  from {
    height: 0;
  }
  to {
    height: 150px;
  }
}
.card {
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  &-since {
    display: inline-block;
    &-wrap {
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 0 0 0 10px;
      height: 70px;
      border-radius: 5px;
      &-text {
        color: #24657c;
      }
      .icon-down {
        display: inline-block;
        width: 30px;
        height: 20px;
        padding: 10px 10px;
        font-size: 24px;
        color: #24657c;
      }
    }
    .select-item {
      max-height: 150px;
      overflow: hidden;
      text-align: center;
      color: $blue;
      background-color: rgba(190, 190, 190, 0.7);
      animation: select 0.3s;
      .select-text {
        height: 50px;
        line-height: 50px;
      }
    }
  }
  &-language {
    display: inline-block;
    vertical-align: top;
    &-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
      &-text {
        color: #24657c;
      }
      .icon-down {
        display: inline-block;
        width: 30px;
        height: 20px;
        padding: 10px 10px;
        font-size: 24px;
        color: #24657c;
      }
    }
  }
  .select-item {
    max-height: 150px;
    overflow: hidden;
    text-align: center;
    color: $blue;
    background-color: rgba(190, 190, 190, 0.7);
    animation: select 0.3s;
    .select-text {
      height: 50px;
      line-height: 50px;
    }
  }
}
